<div class="row">
  <div class="col-md-4">
  	<%= image_tag(@product.image, alt:@product.name) %>
  </div>
  <div class="col-md-4">
  	<h3>
		<%= @product.name %>
	</h3>
	<p>
		Price: <%= number_to_currency @product.price %>
		
	</p>
	<p>
		<%= @product.description %>
	</p>
  </div>
  <% if customer_signed_in? %>
    <div class="col-md-4">
    	<%= form_for(@cart_product) do |f| %>
    		<%= hidden_field :cart_product, :product_id %>
      	<%= f.label :quantity %>
      	<%= f.number_field :quantity %>

      	<%= f.submit "Add to cart", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>